*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: aqua;
}
textarea {
  width: 600px;
  height: 400px;
  margin: 10px;
  font-size: 25px;
}
button {
  padding: 10px;
  font-size: 30px;
  cursor: pointer;
}
img{
  width: 30px;
  
}
button:hover{
  color: red;
  transform:scale(1.1,1.1);
}
